@import 'fonts.scss';

html{
    font-family: 'Lato'
}
body{
    margin: 0;
    background: #FFF;
}

.container{
    width: 87%;
}
// .main{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

header{
    display: flex;
    background: #4C4D56;
    justify-content: center;
    .container{
        width: 87%;
        display: flex;
        justify-content: space-between;
    }
    .logo{
        display: flex;
        align-items: center;
        img{
            width: auto;
            height: 74px;
            padding: 24px 0 27px;
        }
    }
    .menu{
        display: flex;
        gap: 53px;
        align-items: center;
        // padding: 66px 0 80px 0;
        .menu-item, .dropdown{
            height: 100%;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 38px;
            color: #FFFFFF;
            text-align: center;
            display: flex;
            align-items: center;
            text-decoration: none !important;
            button{
                background: none;
                padding: 0;
                border: none;
                color: #FFFFFF;
                font-weight: 700;
            font-size: 24px;
            line-height: 38px;
            }
            p{
                margin:0
            }
        }
    }
    .dropdown{
        position: relative;
    }
    .dropdown-menu{
        width: 307px;
        display: flex;
        flex-direction: column;
        background: linear-gradient(0deg, #ffffffb3, #ffffffb3);
            position: absolute;
            inset: 33% auto auto 0px !important;
                    z-index: 1;
        .dropdown-item{
            padding: 12px 0 7px 11px;
            color:  #4C4D56;
            margin: 0 10px;
            text-decoration: none;
            text-align: left;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 13px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            p{
                margin:0;
            }
            &:not(:last-child){
                border-bottom: .5px solid #FB7F0E;

            }
            
        }
        padding-bottom: 54px;
        .subpanel{
            text-align: left;
            p{
                color:  #4C4D56 !important;
                margin: 0;
                font-weight: 400;
                font-size: 11px;
                line-height: 13px;
                padding: 17px 0 0px 35px;
            }
        }
    }
}

.banner{
    width: 100%;
    position: relative;
    overflow: hidden;
    .main-text{
        position: absolute;
        top: 83px;
        left: 76px;
        color: #FFFFFF;
        max-width: 516px;
        h1{
            font-weight: 400;
            font-size: 89px;
            line-height: 82px;
            margin-bottom: 0;
        }
        p{
            font-weight: 700;
            font-size: 21px;
            line-height: 31px;
            margin-bottom: 0;
            &.border{
                border-bottom: 2px solid #FFFFFF;;
                padding-bottom: 26px;
            }
        }
        .tags{
            display: flex;
            gap: 21px;
            p{
                font-size:16px;
            }
        }
    }
    .socials{
        position: absolute;
        left: 83px;
        bottom: 35px;
        display: flex;
        align-items: center;
        gap: 32px;
    }
    .banner-img{
        width: 100%;
    }
}

.main-info{
    display: flex;
    justify-content: center;
    h2{
        font-weight: 700;
        font-size: 47px;
        line-height: 77px;
        color: #4C4D56;
        margin-bottom: 0;
    }
    h3{
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
        color: #FA6512;
        margin-top: 16px;
        margin-bottom: 0;
    }
    p{
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
    color: #9198A8;
    }
    .column{
        display: flex;
        gap: 166px;
        .img {
            width: 42%;
            img{
                width: 100%;
                margin-left: 42px;
            }
        }
        ul{
            padding: 0;
            list-style-type: none;
            font-weight: 400;
            font-size: 17px;
            line-height: 42px;
            color: #9198A8;
            margin-top: 75px;
            img{
                margin-right: 10px;
                width: 10px;
            }
            li{
                display: flex;
                align-items: center;
            }
        }
    }
    .blue-message{
        height: 270px;
        background: url('../images/blue-back.png');
        background-repeat: no-repeat;
        p{
            font-weight: 400;
            font-size: 32px;
            line-height: 40px;
            color: #525764;
            padding: 69px 64px 81px 85px;
        }
    }
}

.blue-banner{
    width: 100%;
    padding: 53px 0 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(270deg, rgba(24, 168, 191, 0.8) 2.75%, rgba(30, 223, 254, 0.48) 38.2%, rgba(24, 168, 191, 0.8) 74.67%, rgba(127, 222, 229, 0.76) 98.99%);
    h3{
        font-weight: 700;
        font-size: 48px;
        line-height: 36px;
            color: #FFFAFA;
            margin: 0 0 37px 0;
    }
    p{
        font-weight: 700;
        font-size: 23px;
        line-height: 23px;
        margin: 0 0 69px 0;
        color: #FFFAFA;
    }
    button{
        background: #F76431;
        border-radius: 50px;
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
        padding: 9px 47px 9px;
        color: #FFFAFA;
        border: none;
    }
}

footer{
    padding-top: 58px;
    .inner-container{
        padding-top: 74px;
        display: flex;
    justify-content: center;
        background: #F5F5F5;
    .container{
        display: flex;
        justify-content: space-between;
        margin-bottom: 145px;
    }
    }
    .column{
        h4{
            font-weight: 700;
            font-size: 24px;
            line-height: 24px;
            color: #EC722B;
            margin: 0 0 48px 0;
        }
        .address{
            margin-bottom: 35px;
            color: #86868A;
            h5{
                margin: 0;
                font-weight: 700;
                font-size: 23px;
                line-height: 26px;
            }
            p{
                margin: 0;
            }
            &.phone{
                text-decoration: underline;
            }
        }
        ul{
            list-style-type: none;               
            padding: 0;
            li{
                font-weight: 700;
                font-size: 17px;
                line-height: 35px;
                color: #86868A;
                img{
                    margin-right: 22px;
                    width: 14px;
                }
            }
        }
        .opening p{
            font-weight: 200;
            font-size: 17px;
            line-height: 44px;
            color: #86868A;
            margin: 0;
            b{
                font-weight: 700 !important;

            }
        }
    }
    .bottom{
        background: #4C4D56;
        padding: 25px 0;
        h5{
            font-weight: 100;
            font-size: 16px;
            line-height: 16px;
            /* or 150% */
            margin: 0;
            text-align: center;

            /* White */

            color: #FFFFFF;
        }
        p{
            font-weight: 500;
            font-size: 11px;
            line-height: 15px;
            margin: 14px 0 0 0;
            text-align: center;

            /* White */

            color: #FFFFFF;
            b{
                color: #F76431
            }
        }
    }
}

.products{
    margin-top: 80px;
    display: flex;
    gap: 63px;
    justify-content: space-between;
        .products-container{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        align-items: stretch;
    }
    .panel{
        width: 25%;
    }
.product{
            width: 30%;
        height: 22.35vw;
        margin-bottom: 60px;
                transition: .25s;
        .title{
            color: #4C4D56;
            font-size: 24px;
            p{
                margin-top:0;
                margin-bottom: 10px;
            }
        }
        .flex{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 20px;
                .flex{
                    flex-direction: column;
                    align-items: end;
                    margin-top: 0;
                }
        }
        button{
            background: none;
            border: none;
            color: #FF9108;
            font-size: 21px;
            font-weight: 500;
            line-height: 30px;
            cursor: pointer;
        }
    .img-container{
        height: 80%;
        border-radius: 30px;
        background: #F8F8F8;
        position: relative;
       
        transition: .25s;
        cursor: pointer;
        .pic{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        img{
            width: fit-content !important;
            max-width: 60% !important;
            height: fit-content !important;
            position: inherit !important;
        }
        &:hover{
            transform: scale(.9);
            transition: .25s;
        }
        &:active{
            transform: scale(.8);
            transition: .25s;
        }
    }
    
}
}

.panel{
    h5{
        color: #4C4D56;
font-size: 30px;
font-family: Lato;
font-style: normal;
font-weight: 700;
line-height: 30px;
margin: 50px 0 30px;
    }
    input{
        border-radius: 20px;
border: 1px solid rgba(209, 209, 209, 0.94);
width: 100%;
height: 60px;
flex-shrink: 0;
    }
    ul{
                    list-style-type: none;     
                    padding: 0; 
                    color: #869298;
                    font-size: 21px;
                    font-family: Lato;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;    
                    img{
                        margin-right: 30px;
                    }     

    }
}

.slick-slider, .slick-list, .slick-track, .slick-active div{
    height: 100%;
}
    .slider1{
        .slick-list{
            width: 410px;
            height: 26vw;
            border-radius: 30px;
            background-color: #F8F8F8;
            margin-left: 110px !important;
        }
    }
    .slider2{
        .slick-list{
            margin-top: 1rem;
            width: 410px;
            height: 100px;
            border-radius: 30px;
            margin-left: 110px !important;
            display: flex !important;
            flex-direction: column;
            .slick-track{
                display: flex;
                gap: 1rem;
            }
            .slick-slide .item{
                background-color: #F8F8F8;
                border-radius: 1rem;
            }
        }
    }

.slick-slide{
   .item{
    position: relative;
    display: flex !important;
    justify-content: center;
    align-items: center;
    img{
        width: 60% !important;
        height: fit-content !important;
        position: inherit !important;
    }
   }
}

.slider{
    display: flex;
    flex-direction: column-reverse;
    .dots .slick-track{
        display: flex;
        flex-direction: column;
    }
}

.slick-dots{
        display: flex !important;
        flex-direction: column;
        top: 0;
        bottom: 0;
        width: inherit !important;
        max-height: 411px;
    li{
        border-radius: 18px;
        background: #F8F8F8;
        width: 100px !important;
        height: 100px !important;
        display: flex !important;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px !important;
    }
    img{
        width: 50%;
        height: fit-content !important;
    }
}

.all-products{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.pagination{
    ul{
        list-style-type: none;
        display: flex;
        gap: 20px;
        li{
            color: #9198A8;
            font-family: Lato;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            transition: .25s;
            cursor: pointer;
            &:hover{
                transform: scale(.75);
                transition: .25s;
                opacity: .8;
            }
            &.selected{
                color: #FF9108;
            }
        }
    }
}

.rc-slider{
    margin-top:50px !important;
}

.rc-slider-mark{
    top: -18px !important;
    .rc-slider-mark-text:first-child{
        transform: none !important;
    }
    .rc-slider-mark-text:last-child{
        transform: translate(-100%) !important;
    }
}
.rc-slider-dot{
    display: none;
}
.rc-slider-handle{
    display: none;
}
.rc-slider-step, .rc-slider, .rc-slider-rail, .rc-slider-track{
    height: 22px !important;
    border-radius: 10px !important;
}

.rc-slider-rail{
    background: #D9D9D9 !important;
}

.rc-slider-track{
    background: #F6861F !important;
}

.shop-container{
    display: flex;
    justify-content: center;
    h2{
        color: #4C4D56;
            font-size: 36px;
            margin-bottom: 12px;
    }
    .articul {margin: 0};
    .rate {
        .rating{
            margin-right: 12px;
        }
        p {margin: 0;}
    }
    .about, .description{
        h3{
            color: #4C4D56;
            font-size: 36px;
        }
        p{
            color: #9198A8;
            font-weight: 300;
        }
    }
    .description{
        margin-bottom: 120px;
    }
    // .slider2 .slick-slide {
    //     .item{
    //         background-color: #F8F8F8;
    //     }
    // }
}

.add-to-cart{
    border-radius: 30px;
    background: #F8F8F8;
    width: 333px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;
    height:200px;
    .price{
        color: #4C4D56;
        font-size: 36px;
    }
    button{
        border: 2px solid #EC722B;
        padding: 2px 50px 6px;
        color: #EC722B;
        border-radius: 50px;
        font-size: 26px;
        background: none;
    }
}

.selectedProduct {
    width: 100%;
    .flex{
        display: flex;
        align-items: center;
        gap: 36px;
        p{
            font-size:26px;
            color: #4C4D56;
        }
        .rate{
            display: flex;
            align-items: center;
        }
}
.flex2{
    margin-top: 1rem;
    display: flex;
    gap: 36px;
   justify-content: space-between;
}
}

.rc-menu{
    list-style-type: none;
    display: flex;
    gap: 82px;
    margin: 0;
    li{
        color: #fff;
        font-size:32px;
        line-height: 120px;
        cursor: pointer;
        a{
            text-decoration: none !important;
            color: #fff;
        }
    }
}

.rc-menu-submenu-open{
    color: #FB630E !important;
    border-bottom: 4px solid #FB630E !important;
}

.rc-menu-submenu-hidden{
    display: none !important;
}

.rc-menu-sub{
    display: block;
    &.rc-menu-hidden{
        display: none;
    }
}

.rc-menu-inline{
    .rc-menu-submenu-title{
        border: none;
    }
    .rc-menu-inline{
        position: absolute;
        width: 300px;
        background-color:  rgba(255, 255, 255, 0.70);
        top: 125px !important;
        position: absolute;
        z-index: 1;
        padding-bottom: 10px;
        .rc-menu-inline{
            position: inherit;
            background: none;
        }
        .rc-menu-submenu-title{
            border-bottom: 1px solid #FB7F0E;
        }
        .rc-menu-submenu-open{
            border-bottom: none !important;
        }
    }
}
.rc-menu-submenu{
    // display: block !important;
    ul{
        padding: 0px 19px 0 10px !important;
        // margin-top: 0;
    }
    li, a{
        color: #4C4D56 !important;
        font-size: 20px;
        font-weight: 300;
    }
    li{
        line-height: 56px;
        &:not(:first-child){
            border-top: 1px solid #FB7F0E;
        }
    }
    li.rc-menu-submenu .rc-menu-submenu-title{
        background-image: url(../images/arrow3.png);
        background-repeat: no-repeat ;
        background-position: right;
        background-size: 5px 10px;
    }
    .rc-menu-submenu{
        li{
            border-top: none;
        }
    }
}