@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Lato/Lato-ExtraLight.eot");
  src: local(""), url("../fonts/Lato/Lato-ExtraLight.woff") format("woff"), url("../fonts/Lato/Lato-ExtraLight.ttf") format("truetype"), url("../fonts/Lato/Lato-ExtraLight.svg") format("svg");
}
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/Lato/Lato-ExtraLightItalic.eot");
  src: local(""), url("../fonts/Lato/Lato-ExtraLightItalic.woff") format("woff"), url("../fonts/Lato/Lato-ExtraLightItalic.ttf") format("truetype"), url("../fonts/Lato/Lato-ExtraLightItalic.svg") format("svg");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Lato/Lato-Light.eot");
  src: local(""), url("../fonts/Lato/Lato-Light.woff") format("woff"), url("../fonts/Lato/Lato-Light.ttf") format("truetype"), url("../fonts/Lato/Lato-Light.svg") format("svg");
}
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 200;
  src: url("../fonts/Lato/Lato-LightItalic.eot");
  src: local(""), url("../fonts/Lato/Lato-LightItalic.woff") format("woff"), url("../fonts/Lato/Lato-LightItalic.ttf") format("truetype"), url("../fonts/Lato/Lato-LightItalic.svg") format("svg");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Lato/Lato-Regular.eot");
  src: local(""), url("../fonts/Lato/Lato-Regular.woff") format("woff"), url("../fonts/Lato/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato/Lato-Regular.svg") format("svg");
}
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/Lato/Lato-Italic.eot");
  src: local(""), url("../fonts/Lato/Lato-ThinItalic.woff") format("woff"), url("../fonts/Lato/Lato-ThinItalic.ttf") format("truetype"), url("../fonts/Lato/Lato-ThinItalic.svg") format("svg");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Lato/Lato-Medium.eot");
  src: local(""), url("../fonts/Lato/Lato-Medium.woff") format("woff"), url("../fonts/Lato/Lato-Medium.ttf") format("truetype"), url("../fonts/Lato/Lato-Medium.svg") format("svg");
}
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Lato/Lato-MediumItalic.eot");
  src: local(""), url("../fonts/Lato/Lato-MediumItalic.woff") format("woff"), url("../fonts/Lato/Lato-MediumItalic.ttf") format("truetype"), url("../fonts/Lato/Lato-MediumItalic.svg") format("svg");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Lato/Lato-SemiBold.eot");
  src: local(""), url("../fonts/Lato/Lato-SemiBold.woff") format("woff"), url("../fonts/Lato/Lato-SemiBold.ttf") format("truetype"), url("../fonts/Lato/Lato-SemiBold.svg") format("svg");
}
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/Lato/Lato-SemiBoldItalic.eot");
  src: local(""), url("../fonts/Lato/Lato-SemiBoldItalic.woff") format("woff"), url("../fonts/Lato/Lato-SemiBoldItalic.ttf") format("truetype"), url("../fonts/Lato/Lato-SemiBoldItalic.svg") format("svg");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Lato/Lato-Bold.eot");
  src: local(""), url("../fonts/Lato/Lato-Bold.woff") format("woff"), url("../fonts/Lato/Lato-Bold.ttf") format("truetype"), url("../fonts/Lato/Lato-Bold.svg") format("svg");
}
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/Lato/Lato-BoldItalic.eot");
  src: local(""), url("../fonts/Lato/Lato-BoldItalic.woff") format("woff"), url("../fonts/Lato/Lato-BoldItalic.ttf") format("truetype"), url("../fonts/Lato/Lato-BoldItalic.svg") format("svg");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Lato/Lato-SemiBold.eot");
  src: local(""), url("../fonts/Lato/Lato-SemiBold.woff") format("woff"), url("../fonts/Lato/Lato-SemiBold.ttf") format("truetype"), url("../fonts/Lato/Lato-SemiBold.svg") format("svg");
}
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/Lato/Lato-SemiBoldItalic.eot");
  src: local(""), url("../fonts/Lato/Lato-SemiBoldItalic.woff") format("woff"), url("../fonts/Lato/Lato-SemiBoldItalic.ttf") format("truetype"), url("../fonts/Lato/Lato-SemiBoldItalic.svg") format("svg");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Lato/Lato-Black.eot");
  src: local(""), url("../fonts/Lato/Lato-Black.woff") format("woff"), url("../fonts/Lato/Lato-Black.ttf") format("truetype"), url("../fonts/Lato/Lato-Black.svg") format("svg");
}
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/Lato/Lato-BlackItalic.eot");
  src: local(""), url("../fonts/Lato/Lato-BlackItalic.woff") format("woff"), url("../fonts/Lato/Lato-BlackItalic.ttf") format("truetype"), url("../fonts/Lato/Lato-BlackItalic.svg") format("svg");
}
html {
  font-family: "Lato";
}

body {
  margin: 0;
  background: #FFF;
}

.container {
  width: 87%;
}

header {
  display: flex;
  background: #4C4D56;
  justify-content: center;
}
header .container {
  width: 87%;
  display: flex;
  justify-content: space-between;
}
header .logo {
  display: flex;
  align-items: center;
}
header .logo img {
  width: auto;
  height: 74px;
  padding: 24px 0 27px;
}
header .menu {
  display: flex;
  gap: 53px;
  align-items: center;
}
header .menu .menu-item, header .menu .dropdown {
  height: 100%;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  color: #FFFFFF;
  text-align: center;
  display: flex;
  align-items: center;
  text-decoration: none !important;
}
header .menu .menu-item button, header .menu .dropdown button {
  background: none;
  padding: 0;
  border: none;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
}
header .menu .menu-item p, header .menu .dropdown p {
  margin: 0;
}
header .dropdown {
  position: relative;
}
header .dropdown-menu {
  width: 307px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.7019607843), rgba(255, 255, 255, 0.7019607843));
  position: absolute;
  inset: 33% auto auto 0px !important;
  z-index: 1;
  padding-bottom: 54px;
}
header .dropdown-menu .dropdown-item {
  padding: 12px 0 7px 11px;
  color: #4C4D56;
  margin: 0 10px;
  text-decoration: none;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .dropdown-menu .dropdown-item p {
  margin: 0;
}
header .dropdown-menu .dropdown-item:not(:last-child) {
  border-bottom: 0.5px solid #FB7F0E;
}
header .dropdown-menu .subpanel {
  text-align: left;
}
header .dropdown-menu .subpanel p {
  color: #4C4D56 !important;
  margin: 0;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  padding: 17px 0 0px 35px;
}

.banner {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.banner .main-text {
  position: absolute;
  top: 83px;
  left: 76px;
  color: #FFFFFF;
  max-width: 516px;
}
.banner .main-text h1 {
  font-weight: 400;
  font-size: 89px;
  line-height: 117px;
  margin-bottom: 0;
}
.banner .main-text p {
  font-weight: 700;
  font-size: 21px;
  line-height: 31px;
  margin-bottom: 0;
}
.banner .main-text p.border {
  border-bottom: 2px solid #FFFFFF;
  padding-bottom: 26px;
}
.banner .main-text .tags {
  display: flex;
  gap: 21px;
}
.banner .main-text .tags p {
  font-size: 16px;
}
.banner .socials {
  position: absolute;
  left: 83px;
  bottom: 35px;
  display: flex;
  align-items: center;
  gap: 32px;
}
.banner .banner-img {
  width: 100%;
}

.main-info {
  display: flex;
  justify-content: center;
}
.main-info h2 {
  font-weight: 700;
  font-size: 47px;
  line-height: 77px;
  color: #4C4D56;
  margin-bottom: 0;
}
.main-info h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #FA6512;
  margin-top: 16px;
  margin-bottom: 0;
}
.main-info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #9198A8;
}
.main-info .column {
  display: flex;
  gap: 166px;
}
.main-info .column .img {
  width: 42%;
}
.main-info .column .img img {
  width: 100%;
  margin-left: 42px;
}
.main-info .column ul {
  padding: 0;
  list-style-type: none;
  font-weight: 400;
  font-size: 17px;
  line-height: 42px;
  color: #9198A8;
  margin-top: 75px;
}
.main-info .column ul img {
  margin-right: 10px;
  width: 10px;
}
.main-info .column ul li {
  display: flex;
  align-items: center;
}
.main-info .blue-message {
  height: 270px;
  background: url("../images/blue-back.png");
  background-repeat: no-repeat;
}
.main-info .blue-message p {
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: #525764;
  padding: 69px 64px 81px 85px;
}

.blue-banner {
  width: 100%;
  padding: 53px 0 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(270deg, rgba(24, 168, 191, 0.8) 2.75%, rgba(30, 223, 254, 0.48) 38.2%, rgba(24, 168, 191, 0.8) 74.67%, rgba(127, 222, 229, 0.76) 98.99%);
}
.blue-banner h3 {
  font-weight: 700;
  font-size: 48px;
  line-height: 36px;
  color: #FFFAFA;
  margin: 0 0 37px 0;
}
.blue-banner p {
  font-weight: 700;
  font-size: 23px;
  line-height: 23px;
  margin: 0 0 69px 0;
  color: #FFFAFA;
}
.blue-banner button {
  background: #F76431;
  border-radius: 50px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  padding: 9px 47px 9px;
  color: #FFFAFA;
  border: none;
}

footer {
  padding-top: 58px;
}
footer .inner-container {
  padding-top: 74px;
  display: flex;
  justify-content: center;
  background: #F5F5F5;
}
footer .inner-container .container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 145px;
}
footer .column h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #EC722B;
  margin: 0 0 48px 0;
}
footer .column .address {
  margin-bottom: 35px;
  color: #86868A;
}
footer .column .address h5 {
  margin: 0;
  font-weight: 700;
  font-size: 23px;
  line-height: 26px;
}
footer .column .address p {
  margin: 0;
}
footer .column .address.phone {
  text-decoration: underline;
}
footer .column ul {
  list-style-type: none;
  padding: 0;
}
footer .column ul li {
  font-weight: 700;
  font-size: 17px;
  line-height: 35px;
  color: #86868A;
}
footer .column ul li img {
  margin-right: 22px;
  width: 14px;
}
footer .column .opening p {
  font-weight: 200;
  font-size: 17px;
  line-height: 44px;
  color: #86868A;
  margin: 0;
}
footer .column .opening p b {
  font-weight: 700 !important;
}
footer .bottom {
  background: #4C4D56;
  padding: 25px 0;
}
footer .bottom h5 {
  font-weight: 100;
  font-size: 16px;
  line-height: 16px;
  /* or 150% */
  margin: 0;
  text-align: center;
  /* White */
  color: #FFFFFF;
}
footer .bottom p {
  font-weight: 500;
  font-size: 11px;
  line-height: 15px;
  margin: 14px 0 0 0;
  text-align: center;
  /* White */
  color: #FFFFFF;
}
footer .bottom p b {
  color: #F76431;
}

.products {
  margin-top: 80px;
  display: flex;
  gap: 63px;
}
.products .products-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: stretch;
}
.products .product {
  text-decoration: none;
  width: 30%;
  height: 22.35vw;
  margin-bottom: 60px;
  transition: 0.25s;
}
.products .product .title {
  color: #4C4D56;
  font-size: 24px;
}
.products .product .title p {
  margin-top: 0;
  margin-bottom: 10px;
}
.products .product .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.products .product .flex .flex {
  flex-direction: column;
  align-items: end;
  margin-top: 0;
}
.products .product button {
  background: none;
  border: none;
  color: #FF9108;
  font-size: 21px;
  font-weight: 500;
  line-height: 30px;
  cursor: pointer;
}
.products .product .img-container {
  height: 80%;
  border-radius: 30px;
  background: #F8F8F8;
  position: relative;
  transition: 0.25s;
  cursor: pointer;
}
.products .product .img-container .pic {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.products .product .img-container img {
  width: -moz-fit-content !important;
  width: fit-content !important;
  max-width: 60% !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  position: inherit !important;
}
.products .product .img-container:hover {
  transform: scale(0.9);
  transition: 0.25s;
}
.products .product .img-container:active {
  transform: scale(0.8);
  transition: 0.25s;
}

.panel {
  width: 25%;
}
.panel h5 {
  color: #4C4D56;
  font-size: 30px;
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin: 50px 0 30px;
}
.panel input {
  border-radius: 20px;
  border: 1px solid rgba(209, 209, 209, 0.94);
  width: 100%;
  height: 60px;
  flex-shrink: 0;
}
.panel ul {
  list-style-type: none;
  padding: 0;
  color: #869298;
  font-size: 21px;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.panel ul img {
  margin-right: 30px;
}

.slick-slider, .slick-list, .slick-track, .slick-active div {
  height: 100%;
}

.slider1 {
  display: flex;
  gap: 2rem;
}
.slider1 .item {
  padding: 1rem;
  border-radius: 30px;
  background-color: #F8F8F8;
}

.main-image {
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 30px;
  background-color: #F8F8F8;
  border-radius: 1rem;
}

.slick-slide .item {
  position: relative;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.slick-slide .item img {
  width: 60% !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  position: inherit !important;
}

.slider {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.slick-dots {
  display: flex !important;
  flex-direction: column;
  top: 0;
  bottom: 0;
  width: inherit !important;
  max-height: 411px;
}
.slick-dots li {
  border-radius: 18px;
  background: #F8F8F8;
  width: 100px !important;
  height: 100px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px !important;
}
.slick-dots img {
  width: 50%;
  height: -moz-fit-content !important;
  height: fit-content !important;
}

.all-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.pagination ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}
.pagination ul li {
  color: #9198A8;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  transition: 0.25s;
  cursor: pointer;
}
.pagination ul li:hover {
  transform: scale(0.75);
  transition: 0.25s;
  opacity: 0.8;
}
.pagination ul li.selected {
  color: #FF9108;
}

.rc-slider {
  margin-top: 50px !important;
}

.rc-slider-mark {
  top: -14px !important;
}

.rc-slider-step, .rc-slider, .rc-slider-rail, .rc-slider-track {
  height: 22px !important;
  border-radius: 10px !important;
}

.rc-slider-step {
  height: 12px !important;
}

.rc-slider-rail {
  background: #D9D9D9 !important;
}

.rc-slider-track {
  background: #F6861F !important;
}

.rc-slider-handle {
  margin-top: 3px !important;
  background-color: transparent !important;
  border: none !important;
}

.rc-slider-handle-dragging {
  box-shadow: none !important;
}

.rc-slider-dot {
  background-color: transparent !important;
  border: none !important;
}

.shop-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.shop-container .container {
  width: 69%;
}
.shop-container h2 {
  color: #4C4D56;
  font-size: 36px;
  margin-bottom: 12px;
}
.shop-container .articul {
  margin: 0;
}
.shop-container .rate .rating {
  margin-right: 12px;
}
.shop-container .rate p {
  margin: 0;
}
.shop-container .about h3, .shop-container .description h3, .shop-container .related h3 {
  color: #4C4D56;
  font-size: 36px;
}
.shop-container .about p, .shop-container .description p, .shop-container .related p {
  color: #9198A8;
  font-weight: 300;
}
.shop-container .description {
  margin-bottom: 120px;
}

.add-to-cart {
  border-radius: 30px;
  background: #F8F8F8;
  width: 333px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 28px;
  height: 200px;
}
.add-to-cart .price {
  color: #4C4D56;
  font-size: 36px;
}
.add-to-cart button {
  border: 2px solid #EC722B;
  padding: 2px 50px 6px;
  color: #EC722B;
  border-radius: 50px;
  font-size: 26px;
  background: none;
}

.selectedProduct {
  width: 100%;
}
.selectedProduct .flex {
  display: flex;
  align-items: center;
  gap: 36px;
}
.selectedProduct .flex p {
  font-size: 26px;
  color: #4C4D56;
}
.selectedProduct .flex .rate {
  display: flex;
  align-items: center;
}
.selectedProduct .flex2 {
  margin-top: 1rem;
  display: flex;
  gap: 36px;
  justify-content: space-between;
}

.rc-menu {
  list-style-type: none;
  display: flex;
  gap: 82px;
  margin: 0;
}
.rc-menu li {
  color: #fff;
  font-size: 32px;
  line-height: 120px;
  cursor: pointer;
}
.rc-menu li a {
  text-decoration: none !important;
  color: #fff;
}

.rc-menu-submenu-open {
  color: #FB630E !important;
  border-bottom: 4px solid #FB630E !important;
}

.rc-menu-submenu-hidden {
  display: none !important;
}

.rc-menu-sub {
  display: block;
}
.rc-menu-sub.rc-menu-hidden {
  display: none;
}

.rc-menu-inline .rc-menu-submenu-title {
  border: none;
}
.rc-menu-inline .rc-menu-inline {
  position: absolute;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.7);
  top: 125px !important;
  position: absolute;
  z-index: 1;
  padding-bottom: 10px;
}
.rc-menu-inline .rc-menu-inline .rc-menu-inline {
  position: inherit;
  background: none;
}
.rc-menu-inline .rc-menu-inline .rc-menu-submenu-title {
  border-bottom: 1px solid #FB7F0E;
}
.rc-menu-inline .rc-menu-inline .rc-menu-submenu-open {
  border-bottom: none !important;
}

.rc-menu-submenu ul {
  padding: 0px 19px 0 10px !important;
}
.rc-menu-submenu li, .rc-menu-submenu a {
  color: #4C4D56 !important;
  font-size: 20px;
  font-weight: 300;
}
.rc-menu-submenu li {
  line-height: 56px;
}
.rc-menu-submenu li:not(:first-child) {
  border-top: 1px solid #FB7F0E;
}
.rc-menu-submenu li.rc-menu-submenu .rc-menu-submenu-title {
  background-image: url(../images/arrow3.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 5px 10px;
}
.rc-menu-submenu .rc-menu-submenu li {
  border-top: none;
}

.related .product {
  display: block;
}

.error {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}