.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  line-height: 1.125em;
  padding: 20px 0;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  box-sizing: border-box;
}
.react-calendar button {
  margin: 2%;
  border: 0;
  border-radius: 10px;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  color: #636363;
}
.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}
button.react-calendar__navigation__label {
  pointer-events: none;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
  color: #636363;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}
.react-calendar__month-view__days__day--weekend {
  color: #636363;
}
.react-calendar__year-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 12%;
  padding: 10px;
  background: none;
  text-align: center;
  line-height: 16px;
  font: inherit;
  font-size: 0.833em;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
  color: #ababab;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__month-view__days__day--neighboringMonth:disabled {
  color: #cdcdcd;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: transparent;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__month-view__days__day {
  color: #656565;
}
.react-calendar__month-view__days__day.react-calendar__tile--active {
  background: #EC722B;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #fb772b;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
.react-calendar__navigation__prev2-button, 
.react-calendar__navigation__next2-button {
  display: none;
}
.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}
